<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" >
    </compilation>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add factory="System.ServiceModel.Activities.Activation.WorkflowServiceHostFactory"
              relativeAddress="./exper.xamlx" 
             service="WorkflowService1.ExperimentalWorkflow" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="ExperimentalWorkflowService">
        <endpoint name="basicHttpWorkflowService" address="" binding="basicHttpBinding"
                  contract="IExperimentalWorkflow" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <tracking>
      <profiles></profiles>
    </tracking>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <workflowUnhandledException action="Cancel" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpService"/>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

</configuration>
